<div class="ui-g">
  <div class="ui-g-12">
    <div style="padding-top: 20px;">
      <app-shared-detail-info-bar></app-shared-detail-info-bar>
    </div>
  </div>



    <div class="ui-g-3">
        <app-shared-dashboard-menu></app-shared-dashboard-menu>
        <div style="padding-top: 20px;">
            <p-chart type="pie" [data]="requestStateData"></p-chart>
        </div>
    </div>
    <div class="ui-g-1">
    </div>
    <div class="ui-g-8">

      <h3 style="margin-top: 20px;">HR Settings</h3>

      <p-accordion [multiple]="true">
          <p-accordionTab header="User Mapping" [selected]="true">
            <ul>
              <li><a href="">Aon 360 (2 Members)</a></li>
              <li><a href="">Luxemburg (2 Members)</a></li>
              <li><a href="">Nordics (4 Members)</a></li>
              <li><a href="">South Africa (5 Members)</a></li>
              <li><a href="">United Kingdom (15 Members)</a></li>
            </ul>

            <ul>
              <li><a href="">Not assigned Members (3 Members)</a></li>
            </ul>

            <div style="margin-top: 20px;">
              <p-button (click)="registerNewMember()" icon="pi pi-check" styleClass="ui-button-info" label="Add new member"></p-button>&nbsp;&nbsp;
          </div>
          </p-accordionTab>
      </p-accordion>

    </div>

</div>
