<p-card>
  <div class="ui-g">
    <div class="ui-g-6">
        <h4>Your <b>compensation</b> details:</h4>
    </div>
    <div class="ui-g-6">
      <div style="float: right;">
        <p-button icon="pi pi-plus-circle" label="Add compensation ..."></p-button>  
        &nbsp;&nbsp;
        <p-button icon="pi pi-minus-circle" label="Pick up compensation ..."></p-button>
      </div>      
    </div>
    <div class="ui-g-4">
        <div class="ui-g-4">Approved </div>
        <div class="ui-g-4">40 hours</div>
        <div class="ui-g-4"></div>
    </div>
    <div class="ui-g-4">
      <div class="ui-g-4">Taken </div>
      <div class="ui-g-4">20 hours</div>
      <div class="ui-g-4"></div>
    </div>
    <div class="ui-g-4">
      <div class="ui-g-4">Left to take</div>
      <div class="ui-g-4">20 hours</div>
      <div class="ui-g-4"></div>
    </div>
  </div>
</p-card>
