<p-card>
  <div class="ui-g">
    <div class="ui-g-6">
        <h4>Your <b>compensation</b> details:</h4>
    </div>
    <div class="ui-g-6">
      <div style="float: right;">
        <p-button icon="pi pi-plus-circle" label="Add compensation ..." data-toggle="modal" data-target="#compensationDeailsModal"></p-button>  
        &nbsp;&nbsp;
        <p-button icon="pi pi-minus-circle" label="Pick up compensation ..." data-toggle="modal" data-target="#compensationDeailsModal"></p-button>
      </div>      
    </div>
    <div class="ui-g-4">
        <div class="ui-g-4">Approved </div>
        <div class="ui-g-4">40 hours</div>
        <div class="ui-g-4"></div>
    </div>
    <div class="ui-g-4">
      <div class="ui-g-4">Taken </div>
      <div class="ui-g-4">20 hours</div>
      <div class="ui-g-4"></div>
    </div>
    <div class="ui-g-4">
      <div class="ui-g-4">Left to take</div>
      <div class="ui-g-4">20 hours</div>
      <div class="ui-g-4"></div>
    </div>
  </div>
</p-card>

<div class="modal fade" id="compensationDeailsModal" tabindex="-1" role="dialog" aria-labelledby="compensationDeailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="compensationDeailsModalLabel">Compensation datails</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="ui-g">
                <p-card class="ui-g-12">
                  <div class="ui-g">
                    <div class="ui-g-6"><b>Number of hours:</b></div>
                    <div class="ui-g-6"><input #numberOfHours type="text" pInputText></div>
                  </div>
                </p-card>
                <p-card class="ui-g-12">
                  <div class="ui-g">
                    <div class="ui-g-6"><b>Start date:</b></div>
                    <div class="ui-g-6"><p-calendar #startDate [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar></div>
                  </div>
                </p-card>
                <p-card class="ui-g-12">
                  <div class="ui-g">
                    <div class="ui-g-6"><b>End date:</b></div>
                    <div class="ui-g-6"><p-calendar #endDate [showIcon]="true" dateFormat="dd/mm/yy"></p-calendar></div>
                  </div>
                </p-card>
                <p-card class="ui-g-12">
                    <div class="ui-g">
                        <div class="ui-g-5"><b>Description:</b></div>
                        <div class="ui-g-12"><input #description type="text" pInputText></div>
                    </div>
                </p-card>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send request</button>
        </div>
      </div>
    </div>
</div>
