<p-card>
  <div class="ui-g">
    <div class="ui-g-6">
      <h4>Your <b>compensation</b> details:</h4>
    </div>
    <div class="ui-g-6">
      <div style="float: right;">
        <p-button icon="pi pi-plus-circle" label="Request overtime ..." (click)="showDialog('overtime')"></p-button>
        &nbsp;&nbsp;
        <p-button icon="pi pi-minus-circle" label="Reqeust compensation ..." (click)="showDialog('compensation')">
        </p-button>
      </div>
    </div>
    <div class="ui-g-4">
      <div class="ui-g-4">Approved</div>
      <div class="ui-g-4">40 hours</div>
      <div class="ui-g-4"></div>
    </div>
    <div class="ui-g-4">
      <div class="ui-g-4">Taken</div>
      <div class="ui-g-4">20 hours</div>
      <div class="ui-g-4"></div>
    </div>
    <div class="ui-g-4">
      <div class="ui-g-4">Left to take</div>
      <div class="ui-g-4">20 hours</div>
      <div class="ui-g-4"></div>
    </div>
  </div>
</p-card>
<div class="form-group">
  <p-dialog [(visible)]="display" modal="true" [width]="500">
    <p-header> <b>Compensation datails</b> </p-header>
    <p-card class="ui-g-12">
      <div class="ui-g">
        <div class="ui-g-6"><b>Date:</b></div>
        <div class="ui-g-6">
          <p-calendar class="form-control" id="calendar" [(ngModel)]="compensationDate" #date [showIcon]="true" dateFormat="dd/mm/yy" [style]="{ position: 'fixed', 'z-index': '2' }"
            [disabledDays]="invalidDays" [disabledDates]="invalidDates" [readonlyInput]="true" (onMonthChange)="
          DisablePublicpublicHolidaysInCalendar($event.month, $event.year)
        "></p-calendar>
        </div>
      </div>
    </p-card>
    <p-card class="ui-g-12">
      <div class="ui-g">
        <div class="ui-g-6"><b>Number of hours:</b></div>
        <div class="ui-g-6">
          <p-dropdown class="form-control" [options]="noOfHoursSelectItems" [(ngModel)]="selectedNumberOfHours" [pTooltip]="noOfHoursTooltip"></p-dropdown>
        </div>
      </div>
    </p-card>
    <p-card class="ui-g-12">
      <div class="ui-g">
        <div class="ui-g-5"><b>Description:</b></div>
        <div class="ui-g-12"><input #description class="form-control" [(ngModel)]="compensationDescription" type="text" /></div>
      </div>
    </p-card>
    <p-footer>
      <button type="button" class="btn btn-secondary" (click)="display = false">
        Close
      </button>
      <button type="button" class="btn btn-primary" (click)="saveCompensations(); display=false">
        Send request
      </button>
    </p-footer>
  </p-dialog>
</div>