<p class="lead" style="margin-top: 20px;">
  Please provide your e-mail address in infosys domain. Click to receive an e-mail with URL which will allow you to
  reset your password in application.
</p>


<ng-container>
  <p-card [style]="{width: '360px'}">
    <div class="row col-sm-6" style="max-width: 350px;">
      <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="position">Enter your email</label>
          <input type="text" class="form-control" name="position" [(ngModel)]="email" #position="ngModel"
            required>
          <div *ngIf="f.submitted && position.invalid" class="alert alert-danger">
            Name is invalid and/or empty.
          </div>
        </div>
        <div class="form-group">
          <button class="registerButton" type="submit" class="btn btn-primary">Restore password</button>
          <div *ngIf="f.submitted && isSignedUpFailed" class="alert alert-warning">
            Signup failed!<br>
          </div>
          <button class="registerButton" type="submit" class="btn btn-warning" routerLink="/hr-dashboard">Back</button>
        </div>
      </form>
    </div>
  </p-card>
</ng-container>