

<!-- Main Content Section -->
<section class="py-5">
  <div class="container">
    <h1>Welcome to Electronic Leave Platform</h1>
      <p class="lead" style="margin-top: 20px;">
        This area is restricted to view by logged users only. Please provide your e-mail and password to log in to a IC ELP portal. Thank you.
      </p>

      <div>
        <div class="ui-inputgroup">
          E-Mail <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="text" pInputText placeholder="User name">
        </div>

        <div class="ui-inputgroup">
          Password <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
          <input type="password" pInputText placeholder="Password">
        </div>

        <div>
            <!--<button pButton type="button" icon="pi pi-check" iconPos="left"></button>
            <p-button label="Click" icon="fa fa-check" iconPos="left"></p-button>-->
        </div>
      </div>
  </div>
</section>
