<p-dialog [(visible)]="displayCalendar" modal="true" [width]="480">

  <p-header>
    <b>Add Holiday</b>
  </p-header>

  <form [formGroup]="addHolidayForm">
    <div class="ui-g">
      <div style="margin: 0 auto;">
        <p-calendar formControlName="calendar" [(ngModel)]="requestDate" [readonlyInput]="true" [inline]="true">
        </p-calendar>
      </div>
      <div style="margin: 0 auto;">
        Type name of the holiday:<br /><textarea [rows]="3" [cols]="45" pInputTextarea autoResize="autoResize"
          pTooltip="Enter Holiday name" formControlName="holidayName"></textarea>
      </div>
      <div style="margin: 0 auto;" *ngIf="date">
        <div class="ui-g">
          Date: <b>{{date | date:'dd/MM/yyyy'}}</b>
        </div>
      </div>
    </div>
    <div style="margin-top: 20px; text-align:right">
        <p-button *ngIf="buttonState == 'Add Clicked'" (click)="SendRequest()" icon="pi pi-check" label="Approve"></p-button>
        <p-button *ngIf="buttonState == 'Edit Clicked'" (click)="editHoliday(idTaken)" icon="pi pi-check" label="Edit"></p-button>
      &nbsp;
      <p-button (click)="displayCalendar=false" label="Cancel" styleClass="ui-button-warning"></p-button>
    </div>
  </form>
</p-dialog>

<p-dialog [(visible)]="isError" [modal]="true">
  <p-header> <b>Duplicate holiday entry</b> </p-header>
  <div class="warning-text-center">Choose another date...</div> 
  <p-footer>
    <div class="button-center">
        <p-button
        (click)="isError = false"
        icon="pi pi-check-circle"
        styleClass="ui-button-primary"
        label="OK"
        ></p-button>
    </div>
  </p-footer>
</p-dialog>