<p-dialog [(visible)]="display" modal="true" [width]="1060" baseZIndex="9" [positionTop]="10" [blockScroll]=true [contentStyle]="{'max-height':'90vh'}">

    <p-header>
        <b>Request leave datails</b>
    </p-header>
    <p-messages [(value)]="msgs"></p-messages>
    <form [formGroup]="requestForm">
        <div class="ui-g">
            <div class="ui-g-2">
                Request date:
            </div>
            <div class="ui-g-10">
                <b>{{requestDate | date:'dd/MM/yyyy'}}</b>
            </div>

            <div class="ui-g-2">
                Employee’s full name:
            </div>
            <div class="ui-g-10">
                <b>Test Teściński</b>
            </div>

            <div class="ui-g-2">
                Select type of request leave:
            </div>
            <div class="ui-g-10">
                <p-dropdown formControlName="requestType" (onChange)="OnRequestTypeChange($event)" [options]="requestTypes"></p-dropdown>
            </div>

            <div class="ui-g-12" formArrayName="dynamicFormControls" *ngFor="let control of dynamicControls; let i = index">
                <div [formGroupName]="i">
                    <div class="ui-g-2">
                        {{control.label}}
                    </div>
                    <div class="ui-g-10">
                        <div [ngSwitch]="control.controlType">

                            <input *ngSwitchCase="'textbox'" [formControlName]="control.key"
                              pInputText  [type]="control.type" [class]="control.class">

                            <p-autoComplete *ngSwitchCase="'autocomplete'" [formControlName]="control.key" [suggestions]= "filteredUsers" (completeMethod)="filterUsers($event)"
                              [placeholder]="control.placeholder" [forceSelection]="control.forceSelection" [field]="control.field"></p-autoComplete>

                            <div *ngSwitchCase="'dropdown'">
                                <p-dropdown *ngIf="control.onChange !== ''" [formControlName]="control.key" [options]="control.options"
                                (onChange)="control.onChange($event,this.dynamicControls,this.requestForm)"></p-dropdown>

                                <p-dropdown *ngIf="control.onChange ==''" [formControlName]="control.key" [options]="control.options"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="margin: 0 auto;">
                <p-calendar formControlName="calendar" [(ngModel)]="rangeDates" (onSelect) = "CountNumberOfWorkingDays()" (onMonthChange)="DisablePublicpublicHolidaysInCalendar($event.month, $event.year)" [showOtherMonths]="false"  [locale]="en" [numberOfMonths]="3" selectionMode="range" [disabledDays]="[0,6]" [disabledDates]="invalidDates" [readonlyInput]="true" [inline]="true"></p-calendar>
            </div>

            <div class="ui-g-12" *ngIf="rangeDates">
                <div class="ui-g-4">
                    Start date: <b>{{rangeDates[0] | date:'dd/MM/yyyy'}}</b>
                </div>
                <div class="ui-g-4">
                    End date: <b>{{rangeDates[1] | date:'dd/MM/yyyy'}}</b>
                </div>
                <div class="ui-g-4">
                    Requested: <b>{{requestedNumberOfDays}}</b> day(s)
                </div>
            </div>
        </div>


        <p-footer>
            <p-button (click)="SendRequest()" icon="pi pi-check" label="Send request"></p-button>
            &nbsp;
            <p-button (click)="display=false" label="Close" styleClass="ui-button-secondary"></p-button>
        </p-footer>

    </form>
</p-dialog>






