<div>
    <p class="lead" style="margin-top: 20px;">
    Select type of request leave
    &nbsp;<p-dropdown [options]="requestTypes"></p-dropdown>&nbsp;
    and click calendar to choose time period
    </p>
</div><br>

<div class="ui-g">
    <div style="margin: 0 auto;">
        <p-calendar (onSelect) = "CountNumberOfWorkingDays()" (onMonthChange)="DisablePublicpublicHolidaysInCalendar($event.month, $event.year)" [showOtherMonths]="false" [(ngModel)]="rangeDates" [locale]="pl" [numberOfMonths]="3" selectionMode="range" [disabledDays]="[0,6]" [disabledDates]="invalidDates" [readonlyInput]="true" [inline]="true"></p-calendar>
    </div>

    <div class="ui-g-12" *ngIf="rangeDates">
        <div class="ui-g-4">
            Start date: <b>{{rangeDates[0] | date:'dd/MM/yyyy'}}</b>
        </div>
        <div class="ui-g-4">
            End date: <b>{{rangeDates[1] | date:'dd/MM/yyyy'}}</b>
        </div>
        <div class="ui-g-4">
            Requested: <b>{{requestedDays}}</b> day(s)
        </div>
    </div>
</div>






