<p class="lead" style="margin-top: 20px;">
  This area is restricted to view by registered members only. Please provide your e-mail and password to log in to a IC ELP portal. Thank you.
</p>

<div class="row">

  <div class="col-md-4">
  </div>

  <div class="col-md-4">
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input #userEmail type="email" pInputText placeholder="Infosys e-mail address">
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="password" pInputText placeholder="Password">
        </div>
      </div>

      <div class="ui-g-12">
        <button pButton type="button" (click)="login(userEmail.value)"><i class="pi pi-check"></i>Login</button>
          &nbsp;&nbsp;
        <button pButton type="button" routerLink="/password-reset" styleClass="ui-button-info"><i class="pi pi-check"></i>Missing Password</button>
      </div>
    </div>
  </div>

  <div class="col-md-4">
  </div>

</div>
