<div class="ui-g">
  <h3 class="first">List of Added Holidays:</h3>
  <div class="ui-g">
    <div class="ui-g-12">
      <div style="float: right;">
        <p-button (click)="showCalendar()" icon="pi pi-plus-circle" label="Add Holiday"></p-button>
      </div>
    </div>
    <p-table [columns]="columnNames" [value]="holidays"  sortField="date" [sortOrder]="1">
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center" *ngFor="let col of columnNames" [pSortableColumn]="col.field" [pSortableColumnDisabled]="col.operation">
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-holiday let-columns="columnNames">
        <tr>
          <!-- <td class="text-center">{{holiday.name}}</td>
          <td class="text-center">{{holiday.date}}</td>
          <td class="text-center">
            <p-button icon="fa fa-fw fa-edit" label="Edit" (click)="editCompensation(holiday.id)"></p-button>&nbsp;&nbsp;
            <p-button (click)="showDialog(holiday.id)" icon="pi pi-trash" styleClass="ui-button-warning" label="Delete"></p-button>
          </td> -->
          <td *ngFor="let col of columnNames">
            {{holiday[col.field]}}
            <div *ngIf="col.field=='operation'">
              <p-button icon="fa fa-fw fa-edit" label="Edit" (click)="editCompensation(holiday.id)"></p-button>&nbsp;&nbsp;
              <p-button (click)="showDialog(holiday.id)" icon="pi pi-trash" styleClass="ui-button-warning" label="Delete"></p-button>
            </div>
          </td>
        </tr>
        <p-dialog [(visible)]="displayDialog" [modal]="true">
          <p-header>
            <b>Delete confirmation</b>
          </p-header>
          Are you sure that you want to delete this record?
          <p-footer>
            <p-button (click)="deleteHoliday(idChoosen)" icon="pi pi-check-circle" styleClass="ui-button-primary" label="Yes"></p-button>
            <p-button (click)="displayDialog=false" icon="pi pi-times-circle" styleClass="ui-button-warning" label="Cancel"></p-button>
          </p-footer>
        </p-dialog>
      </ng-template>
    </p-table>
  </div>
</div>
<app-hr-add-holiday></app-hr-add-holiday>
